@import 'commonlib/styles/colors';
@import 'commonlib/styles/fonts';
@import 'commonlib/styles/theme';

header
{
    div
    {
        height: 20%;
        background-color: $primary-blue;
        @include base-flex(row, center, center, nowrap);
        h1
        {
            width: 50%;
            @include font-bold;
            @include font-style(32px, $white, 38px);
        }
    }

    img
    {
        width: 100%;
        height: 80%;
        object-fit: cover;
    }
}

.spinner
{
    width: 100%;
    margin: 55px auto 0 auto;
    @include base-flex(row, center, center, nowrap);
}
